<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Patient Submission</title>

    <link rel="stylesheet" href="{% static 'submission/fonts/material-icon/css/material-design-iconic-font.min.css' %}">

    <link rel="stylesheet" href="{% static 'submission/css/style.css' %}">
</head>
<body>

    <div class="main">
        <div class="container">
            <div class="signup-content">
                <div class="signup-img">
                    <img src="{% static 'submission/images/signup-img.jpg' %}" alt="">
                </div>
                <div class="signup-form">
                    <form method="POST" class="register-form" id="register-form">
                        {% csrf_token %}
                        <h2>Patient Document Submission</h2>
                        
                        <div class="form-row">
                            <div class="form-group">
                                <label for="name">Name :</label>
                                <!-- <input type="text" name="name" id="name" required/> -->
                                {{form.name}}
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label for="email">Description :</label>
                            {{form.description}}
                        </div>

                        <div class="form-group">
                            <label for="email">Documents :</label>
                            {{form.pdfs}}
                        </div>

                        <div class="form-submit">
                            <input type="submit" value="Reset All" class="submit" name="reset" id="reset" />
                            <input type="submit" value="Submit Form" class="submit" name="submit" id="submit" />
                        </div>

                    </form>
                </div>
            </div>
        </div>

    </div>

    <script src="{% static 'submission/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'submission/js/main.js' %}"></script>
</body>
</html>